html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

#root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.App{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.background, .background-second{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}


.heading-container{
    background-repeat: no-repeat;
    padding: 3%;
    margin: auto 0 0 0;
}

.landing-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.cards-container{
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    gap: 20px;
    margin-bottom: auto;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #232526, #414345);
    position: relative;
    font-family: "Heavitas";
    color: white;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -1px 10px rgba(255,255,255,0.3);
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
}


.first-header{
    font-family: "Heavitas";
    color: white;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -1px 10px rgba(255,255,255,0.3);
    font-size: 250%;
    margin: 0;
}

.second-header{
    font-family: "Heavitas";
    color: #FFB700;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -1px 10px rgba(255,255,255,0.3);
    font-size: 550%;
    margin: 0;
}

@font-face {
    font-family: 'Heavitas';
    src: local('Heavitas'),
        url('./../fonts/Heavitas.ttf') format('truetype');

}

@media only screen and (max-width: 768px) {


}

@media only screen and (min-width: 768px) and (max-width: 992px) {

}

@media only screen and (min-width: 968px) and (max-width: 1366px) {

}