nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    background-color: transparent;
    color: white;
    font-family: "Heavitas";
}

.nav-items{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    .nav-items{
        font-size: 70%;
        gap: 10px;
    }
}