nav {
    padding: 0.2% 0.2%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #2a2e30ad;
    border-radius: 0.25em;
    box-shadow: 0px 6px 6px -8px #000000;
    color: white;
    font-family: "Roboto", sans-serif;
}

nav>img {
    height: 45px;
    margin-left: 1%;
}