.team-stats {
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.team-grid {
    display: flex;
    gap: 1%;
    width: 100%;
    justify-content: center;
}

.first-rectangle {
    background: #2a2e30de;
    border-radius: .45em;
    box-shadow: 0px 8px 8px -8px #000000;
    width: fit-content;
}

.second-rectangle {
    background: #2a2e30de;
    border-radius: .45em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 0 2%;
    align-items: center;
}

.third-rectangle {
    background: #2a2e30de;
    border-radius: .45em;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0 2%;
    align-items: center;
}

.actions-header {
    font-family: "Roboto", sans-serif;
}

.inputs {
    align-self: flex-start;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

#actions_svg {
    align-self: center;
}

.first-rectangle>img {
    width: 29%;
}

.second-rectangle>img {
    width: 29%;
}

.third-rectangle>img {
    width: 29%;
}

.choose-game {
    display: flex;
    align-items: center;
    gap: 1%;
    margin-bottom: 4%;
    align-self: flex-start;
}

.choose-game>span {
    font-size: 110%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(0, 0, 0, 0.3);
}

.stat-container {
    display: flex;
    align-items: center;
    font-size: 120%;
    font-family: "Roboto", sans-serif;
    margin-left: 3%;
    font-weight: bold;
    color: white;
}

.stat-container>span {
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(0, 0, 0, 0.3);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

    .team-stats {
        display: flex;
        padding: 15% 0%;
    }

    .team-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1%;
    }

    .first-rectangle {
        width: fit-content;
    }

    .second-rectangle {
        width: fit-content;
        padding: 0 3%;
    }

    .third-rectangle {
        width: fit-content;
        padding: 0 3%;
    }

    #chart {
        padding: 0 5%;
    }

}

div.tooltip_2 {
    padding: 0% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    position: absolute;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    font-weight: bold;
    font-size: 130%;
    background: #2a2e30fd;
    color: white;
    border: 2px solid #cf261f;
    border-radius: 10px;
}

.passing-network-header {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(0, 0, 0, 0.3);
    align-self: flex-start;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .team-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 1%;
        place-content: center;
        width: 100%;
    }

    .team-stats {
        display: flex;
        padding: 10% 0%;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .first-rectangle {
        width: fit-content;
        grid-column: span 2;
    }

    .second-rectangle {
        width: fit-content;
        grid-column: span 1;
    }

    .third-rectangle {
        width: fit-content;
        grid-column: span 1;
    }

    #chart {}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1366px) {

    .second-rectangle {}

    .third-rectangle {}

    .inputs>label {
        font-size: 70%;
    }

    .inputs>input {
        width: 20px;
        height: 20px;
    }
}